.ul-hidden{
  display: none !important;
  opacity: 0;
}
.li-show:hover .ul-hidden{
  display: block !important;
  opacity: 1;
}
.text-bold {
  font-weight: bolder;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: .6px 1.1px #444;
}
/* .ul-hidden .side-menu{
  margin-top: -8px !important
} */